---
layout: default
---
<head>
  <link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/assets/vendors/themify-icons/css/themify-icons.css">
</head>

<br><br>
   <header>
   {% include navbar.html %}
 
  </header>
<section class="post">
   <div class="section-container">
	   
      <div class="container">
         <div class="row">
            <div class="col-xs-12">
               <div class="template-example">
                  <h1 class="page-title">{{page.title}}</h1>
               </div>
            </div>
         </div>
      </div>

      {{content}}
      
   </div>
</section>

   <script src="{{ site.url }}{{ site.baseurl}}/assets/vendors/jquery/jquery-3.4.1.js"></script>
   <script src="{{ site.url }}{{ site.baseurl}}/assets/vendors/bootstrap/bootstrap.bundle.js"></script>
